@model PaginatedList<QuanLyKhoThucPham.Models.PhieuNhapModel>

@{
    ViewData["Title"] = "Danh Sách Phiếu Nhập";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Ngày Nhập</th>
            <th scope="col">Người lập</th>
            <th scope="col">Nhà Cung Cấp</th>
            <th scope="col">Kho Nhập</th>
            <th scope="col">Tổng Tiền</th>
            <th scope="col">Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phieuNhap in Model)
        {
            <tr>
                <td>@phieuNhap.MaPhieuNhap</td>
                <td>@phieuNhap.NgayNhap.ToString("dd/MM/yyyy")</td>

                <!-- Kiểm tra null trước khi hiển thị -->
                <td>@phieuNhap.NhanVien.HoTen</td>
                <td>@phieuNhap.NhaCungCap.TenNhaCungCap</td>
                <td>@phieuNhap.KhoHang.TenKho</td>

                <td>@phieuNhap.TongTien VND</td>
                <td>
                    <a asp-controller="PhieuNhap" asp-action="Detail" asp-route-maPN="@phieuNhap.MaPhieuNhap" class="btn btn-info btn-sm">Chi Tiết</a>
                    <a asp-controller="PhieuNhap" asp-action="Delete" asp-route-maPN="@phieuNhap.MaPhieuNhap" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="PhieuNhap" asp-action="Create" class="btn btn-primary">Tạo Phiếu Nhập Mới</a>

@{
    var prevDisabled = !Model.HasNextPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"

   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
