@model QuanLyKhoThucPham.Models.Quanlykhachhang

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết khách hàng</h1>

<div>
    <h4>Quanlykhachhang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKH)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKH">Chỉnh sửa</a> |
    <a asp-action="Index">Trở lại danh sách</a>
</div>
