@model IEnumerable<QuanLyKhoThucPham.Models.NhanVienModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-action="Create" class="btn btn-info btn-sm">Tạo nhân viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-maNV="@item.MaNhanVien" class=" btn btn-info btn-sm">Sửa</a> |
                    <a asp-action="Details" asp-route-maNV="@item.MaNhanVien" class="btn btn-info btn-warning">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-maNV="@item.MaNhanVien" class="btn btn-info btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
