@model QuanLyKhoThucPham.Models.dsthucpham

@{
    ViewData["Title"] = "Details";
}

<h1>Xem chi tiết</h1>

<div>
    <h4>Danh sách thực phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Tên sản phẩm</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenSP)
        </dd>
        <dt class = "col-sm-2">
           <a>Mô tả</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mota)
        </dd>
        <dt class = "col-sm-2">
           <a>Số lượng</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluong)
        </dd>
        <dt class = "col-sm-2">
            <a>Ngày sản xuất</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaysx)
        </dd>
        <dt class = "col-sm-2">
            <a>Hạn sử dụng</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hsd)
        </dd>
        <dt class = "col-sm-2">
            <a>Nhà sản xuất</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nhasanxuat)
        </dd>
        <dt class="col-sm-2">
            <a>Giá</a>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gia)
        </dd>
    </dl>
</div>
<div>
    <form>
		<input asp-action="Edit" asp-route-id="@Model?.ID" type="submit" class="btn btn-primary" value="Chỉnh sửa">
		<input asp-action="Index" type="submit" class="btn btn-primary" value="Trở lại danh sách ">
    </form>
    
</div>
