@model IEnumerable<QuanLyKhoThucPham.Models.dsthucpham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaysx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hsd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nhasanxuat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaysx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhasanxuat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
