@model IEnumerable<QuanLyKhoThucPham.Models.KhachHangModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    
    <h1>Danh Sách Khách Hàng</h1>
    </div>


<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                <a asp-action="Create" class="btn-tao-moi">Tạo Mới</a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td> 
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                    
                    <a asp-action="Edit" asp-route-maKH="@item.MaKH" class="btn-chinh-sua">Chỉnh sửa</a>|
                    <a asp-action="Details" asp-route-maKH="@item.MaKH" class="btn-chi-tiet">Chi Tiết</a>|
                    <a asp-action="Delete" asp-route-maKH="@item.MaKH" class="btn-xoa">Xóa</a>
            </td>
        </tr>
    }
    </tbody>

   

    <form asp-controller="KhachHang" asp-action="Index">
        <div class="input-group">
            <input class="form-control" type="text" name="SearchString" placeholder="Nhập tên khách hàng..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" type="submit" />Tìm kiếm</button>
        </div>

    </form>



</table>
