@model IEnumerable<QuanLyKhoThucPham.Models.KhachHangModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    
    <h1>Danh Sách Khách Hàng</h1>
    </div>


<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                <a asp-action="Create" class="btn-tao-moi">Tạo Mới</a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td> 
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                    @* <<<<<<< HEAD
                    <a asp-action="Edit" asp-route-maKH="@item.MaKH" class="khung btn btn-info btn-sm">Chỉnh sửa</a>
                    <a asp-action="Details" asp-route-maKH="@item.MaKH" class="khung btn btn-warning">Chi Tiết</a>
                    <a asp-action="Delete" asp-route-maKH="@item.MaKH" class="khung btn btn-danger">Xóa</a> *@
                    <a asp-action="Edit" asp-route-maKH="@item.MaKH" class="btn-chinh-sua">Chỉnh sửa</a>|
                    <a asp-action="Details" asp-route-maKH="@item.MaKH" class="btn-chi-tiet">Chi Tiết</a>|
                    <a asp-action="Delete" asp-route-maKH="@item.MaKH" class="btn-xoa">Xóa</a>
            </td>
        </tr>
    }
    </tbody>

    @* <form asp-controller="KhachHang" asp-action="Index" style="margin-bottom: 15px; display: flex; align-items: center;">
        <label for="searchInput" style="font-weight: bold; color: #007bff; font-size: 16px; margin-right: 10px;">
            🔍 Tìm kiếm khách hàng:
        </label>
        <input id="searchInput" type="text" name="searchString" placeholder="Tìm kiếm dữ liệu"
               style="border: 2px solid #007bff; border-radius: 5px; padding: 8px; width: 250px;" />
        <button type="submit"
                style="background-color: #007bff; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-left: 10px;">
            🔍 Tìm kiếm
        </button> *@

    <form asp-controller="KhachHang" asp-action="Index" method="post">
        <div class="input-group">
            <input class="form-control" type="text" name="SearchString" placeholder="Tìm kiếm tên khách hàng..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" type="submit" />Tìm kiếm</button>
        </div>

    </form>



</table>
