@model IEnumerable<QuanLyKhoThucPham.Models.dskhohangModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách kho hàng</h1>
<form asp-controller="dskhohangModels" asp-action="Index" method="get">
    <div class="input-group">
        <input class="form-control" type="text" name="SearchString" placeholder="Tìm kiếm tên kho hàng..." aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" type="submit"  />Tìm kiếm</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
				<a >STT</a> 
            </th>
            <th>
                <a>Tên kho</a> 
            </th>
            <th>
                <a>Mô tả</a> 
            </th>
            <th>
                <a>Số lượng tổng</a>
            </th>
            <th>
                <a>Số lượng trống</a>
            </th>
            <td>
                <a asp-action="Create" class="khung">Tạo mới</a>
            </td>
        </tr>   
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@Html.DisplayFor(modelItem => item.ID)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluongtong)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soluongtrong)
                </td>

				
				<td >
                    <a asp-action="Edit" asp-route-id="@item.ID" class="khung">Chỉnh sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.ID" class="khung">xem chi tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" class="khung">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
