@model PaginatedList<QuanLyKhoThucPham.Models.SanPhamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Thực Phẩm </h1>
<form asp-controller="SanPham" asp-action="Index">
    <div class="input-group" style=" width:600px">
        <input  class="form-control" type="text" name="SearchString" placeholder="Tìm kiếm tên sản phẩm..." aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" type="submit" /> 🔍</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>Mã sản phẩm</a>
            </th>
            <th>
                <a>Tên sản phẩm</a>
            </th>
            <th>
                <a>Nhà sản xuất</a>
            </th>
            <th>
                <a>Số lượng</a>
            </th>

            <th>
                <a>Giá/1 sản phẩm</a>
            </th>
            <th>
                <a>Mô tả</a>
            </th>
            <th>
                <a asp-action="Create" class="btn btn-primary" >Tạo mới</a>
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSP" class="btn btn-warning">Chỉnh sửa </a> 
                    <a asp-action="Details" asp-route-id="@item.MaSP" class="btn btn-info">Chỉ tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.MaSP" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; gap: 8px; font-size: 20px; ">
    <!-- Nút Previous -->

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled"
       Style="border: 1px solid #b1154a;">
        Trước
    </a>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.PageIndex)
        {
            <span style="font-size: 20px; border: 1px solid #ccc; padding: 3px;"><strong>@i</strong></span> <!-- Trang hiện tại sẽ được in đậm -->
        }
        else
        {
            <a asp-action="Index" asp-route-pageNumber="@i" style="font-size: 20px ; text-decoration: none; color:black">@i</a>
        }
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled"
       style="border: 1px solid #b1154a;">
        Sau
    </a>
</div>
