@model IEnumerable<QuanLyKhoThucPham.Models.SanPhamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách thực phẩm</h1>
<form asp-controller="dsthucpham" asp-action="Index" method="post">
    <div class="input-group">
        <input class="form-control" type="text" name="SearchString" placeholder="Tìm kiếm tên sản phẩm..." aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" type="submit" />Tìm kiếm</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a>STT</a>
            </th>
            <th>
                <a>Tên sản phẩm</a>
            </th>
            <th>
                <a>Mô tả</a>
            </th>
            <th>
                <a>Nhà sản xuất</a>
            </th>
            <th>
                <a>Mã nhà cung cấp</a>
            </th>
            <th>
                <a asp-action="Create" class="khung">Tạo mới</a>
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.MaNhaCungCap)
            </td>
               
            <td>
                    <a asp-action="Edit" asp-route-maSP="@item.MaSP" class="khung">Chỉnh sửa </a>
                    <a asp-action="Details" asp-route-maSP="@item.MaSP" class="khung">Xem chi tiết</a>
                    <a asp-action="Delete" asp-route-maSP="@item.MaSP" class="khung">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
